/*#### .class and #id ####*/

$title: 'Playfair Display', serif;
      font-family: 'Playfair Display', serif;
$text: 'Open Sans Condensed', sans-serif;
      font-family: 'Open Sans Condensed', sans-serif;


$black: #000000;
  rgba(0, 0, 0, 100);

$slate: #5a5353;
  rgba(90, 83, 83, 100);

$grey: #77878b;
  rgba(119, 135, 139, 100);

$blue: #17cddc;
  rgba(23, 205, 220, 100);

$white: #f7f9f4;
  rgba(247, 249, 244, 100);

  /*#### .class and #id ####*/

/*  #### nav-life ####*/
  html{
    height: 100%;
  }
  body{
    height: 100%;
/*    background-image: url("/img/door.jpg");
    background-size: cover;
    background-attachment: fixed;*/
  }
  .nav{
    background-color: rgba(247, 249, 244, 100);
    padding: 10px;
    height: 150px;
    z-index: 1;
  }
  h1{
    font-family: 'Playfair Display', serif;
    font-size: 38px;
    text-align: center;
  }
  .hamburger-toggle{
    width: 100px;
    height: 350px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
  .fa{
    padding: 0px 0px 0px 10px;
    margin: 90px auto 25px;
  }
  .fa-bars{
    float: right;
    margin: 0 auto;
    position: absolute;
    color: rgba(119, 135, 139, 100);
  }
  .fa-2x{
    color: rgba(0, 0, 0, 100);
    padding: 0px 0px 0px 10px;
    margin: 90px auto 25px;
  }
  .hamburger{
    float: left;
    position: fixed;
  }
  ul{
    padding: 0px 0px 0px 10px;
    list-style-type: none;
    text-decoration: none;
  }
  li{
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    text-decoration: none;
    font-weight: 100;
    float: right;
    padding: 18px;
  }

/*  #### about-life ####*/
  #about{
    background: url('../img/maui.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  #about-container{
    background-color: rgba(119, 135, 139, .5);
    height: 100%;
    width: 100%;
  }
  .about-content{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 28px;
    color: black;
    text-align: center;
  }

/*  #### profile-life ####*/
  #profile{
    width: 100%;
    height: 100%;
    background-color: rgba(247, 249, 244, .3);
  }
  #profile-pic{
    display: block;
    border-radius: 50%;
    width: 350px;
    margin: 90px auto 25px;
  }

/*  #### contact-life ####*/
  #contact{
    background: url('../img/kapula.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  #about-container{
    background-color: rgba(119, 135, 139, .5);
    height: 100%;
    width: 100%;
  }
  .icons{
    padding: 50px;
    padding: 10px 0px 0px 10px;
    margin: 90px auto 25px;
  }
  .fa-3x{
    color: rgba(0, 0, 0, 100);
    padding: 0px 0px 0px 10px;
    margin: 90px auto 25px;
  }
  a{
    color: rgba(119, 135, 139, 100);
    padding: 0 6%;
    margin: 0px auto;
  }

/*  #### footer-life ####*/
  footer{
    padding: 10px;
    height: 200px;
  }
  .goodbye{
    background-color: rgba(247, 249, 244, 100);
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    height: 38px;
    padding: 40px 20px;
    text-align: right;
  }



