/*#### .class and #id ####*/

$title: 'Playfair Display', serif;
      font-family: 'Playfair Display', serif;
$text: 'Open Sans Condensed', sans-serif;
      font-family: 'Open Sans Condensed', sans-serif;

$black: #000000;
  rgba(0, 0, 0, 100);

$grey: #77878b;
  rgba(119, 135, 139, 100);

$light grey: #bfc4c9;
  rgba(191, 196, 201, 100);

$blue: #17cddc;
  rgba(23, 205, 220, 100);

$white: #f7f9f4;
  rgba(247, 249, 244, 100);

  /*#### .class and #id ####*/

/*  #### nav-life ####*/
  html{
    height: 100%;
    width: 100%;
  }
  body{
    height: 100%;
    width: 100%;
  }
  .nav{
    background-color: rgba(119, 135, 139, .25);
    height: 100%;
    width: 100%;
    z-index: 1;
  }
  .circle{
    display: block;
    background-color: rgba(23, 205, 220, 100);
    border-radius: 50%;
    width: 40px;
    margin: 90px auto 25px;
    margin: center;
  }
  .profile-pic{
    display: block;
    border-radius: 50%;
    width: 400px;
    margin: 90px auto 25px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .hello{
    background-color: rgba(247, 249, 244, 100);
    font-family: 'Playfair Display', serif;
    font-size: 58px;
    font-weight: 400;
    height: 38px;
    padding: 40px 20px;
    text-align: center;
  }
  h1{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 32px;
    font-weight: 300;
    text-align: center;
  }

/*  #### intro-life ####*/
  #intro{
    height: 100%;
    width: 100%;
    padding: 10px;
  }
  .intro-container{
    padding: 10px;
  }
  ul{
    height: 100%;
    width: 100%;
    list-style-type: none;
    text-decoration: none;
  }
  .li-imgs{
    display: none;
    list-style-type: none;
    text-decoration: none;
  }
  img{
    background-size: contain;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }
  h3{
    font-family: 'Open Sans Condensed', sans-serif;
    color: rgba(23, 205, 220, 100);
    font-size: 32px;
    text-align: center;
  }
/*  #### work-life ####*/
  #work{
    height: 100%;
    width: 100%;
  }
  .work-container{
    background-color: rgba(255, 255, 255, .5);
    height: 100%;
    width: 100%;
  }
  h2{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 54px;
    font-weight: 400;
    text-align: center;
  }
  .open-pic{
    display: block;
    border-radius: 50%;
    width: 40px;
    margin: center;
    background-size: contain;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
  }
  h4{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 42px;
    font-weight: 900;
    text-align: center;
    text-decoration: inherit;
    height: 48px;
    padding: 40px 20px;
  }

/*  #### footer-life ####*/
  footer{
    height: 100%;
    width: 100%;
  }
  .footer-container{
    background-color: rgba(119, 135, 139, .25);
    height: 100%;
    width: 100%;
  }
  .icons{
    padding: 50px;
    padding: 20px 5px 5px 20px;
    margin: 90px auto 25px;
  }
  .fa{
    padding: 0px 0px 0px 10px;
    margin: 90px auto 25px;
  }
  .fa-3x{
    color: rgba(0, 0, 0, 100);
    padding: 20px 5px 5px 20px;
    margin: 90px auto 25px;
  }
  a{
    color: rgba(119, 135, 139, 100);
    padding: 0 6%;
    margin: 0px auto;
  }
  .goodbye{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 32px;
    text-align: center;
    text-decoration: inherit;
    height: 38px;
    padding: 40px 20px;
  }



