/*#### .class and #id ####*/
  .content{
    width: 100%;
    width: 100%;
  }

/*  #### nav-life ####*/
  .nav{
    background-color: rgba(119, 135, 139, .25);
    padding: 5px 0 0 5px;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
  .profile-pic{
    display: block;
    border-radius: 50%;
    width: 400px;
    margin: 90px auto 25px;
    background-position: center;
    background-repeat: no-repeat;
  }
  h5{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 32px;
    font-weight: 300;
    text-align: center;
  }

/*  #### work-life ####*/
  .work{
    width: 75%;
    margin: 32px auto;
  }
  .details{
    font-family: 'Open Sans Condensed', sans-serif;
    font-color: rgba(23, 205, 220, 100);
    font-size: 32px;
    font-weight: 400;
    text-align: center;
  }
  br{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 28px;
    font-weight: 400;
    text-align: right;
  }
/*  #### ability-life ####*/
  .ability{
    width: 75%;
    margin: 32px auto;
  }
  .skills{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 32px;
    font-weight: 400;
    text-align: right;
  }

/*  #### quote-life ####*/
  .recs{
    width: 75%;
    margin: 32px auto;
  }
  .quote{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 32px;
    font-weight: 400;
    text-align: right;
  }

/*  #### quote-life ####*/
  .icons{
    padding: 50px;
    padding: 20px 5px 5px 20px;
    margin: 90px auto 25px;
  }
  .fa{
    padding: 0px 0px 0px 10px;
    margin: 90px auto 25px;
  }
  .fa-2x{
    color: rgba(0, 0, 0, 100);
    padding: 20px 5px 5px 20px;
    margin: 90px auto 25px;
  }
  a{
    color: rgba(119, 135, 139, 100);
    padding: 0 6%;
    margin: 0px auto;
  }
